{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block head %}
    <script src="../static/js/cart.js" defer></script>
    <link href="/static/css/products.css" rel="stylesheet">
    <link href="/static/css/cart.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <div id="flash-product" style="display: none" class="alert alert-warning position-fixed top text-center" role="alert"></div>

    <div id="cart-header" >
        <span id="currency" class="text-dark fs-5 fw-bold">Total:</span><p id="total-price" class="fs-3"></p>
        <button class="remove-btn btn btn-warning">Buy</button>
    </div>

    <section id="cart-section">
        {% for item in cart %}
            <div class="product-card" id="{{ item[0]['body']['id'] }}">
                <img class="product-image" src="{{ item[0]['body']['thumbnail'].replace('I.jpg', 'W-webp') }}" />
                <h3 class="product-title fs-6"> {{ item[0]['body']['title'] }}</h3>
                <p class="product-price fs-5">{{ item[0]['body']['price'] }}</p>
                <button class="product-btn btn-dark remove-btn">Remove</button>
            </div>
        {% endfor %}
    </section>


{% endblock %}