{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block head %}
    <script src="../static/js/cart.js" defer></script>
{% endblock %}

{% block main %}

    <div id="flash-product" style="display: none; transition: all 0.5s;" class="alert alert-primary alert-dismissible fade show" role="alert">
        <span> Removed from cart! </span>
    </div>

    <h2 style="font-size: 50px;">Cart</h2>
    <section id="cart-section">
        {% for item in cart %}
            <div id="{{ item[0]['body']['id'] }}">
                <img src="{{ item[0]['body']['thumbnail'] }}" />
                <h3> {{ item[0]['body']['title'] }}</h3>
                <p class="product-price">{{ item[0]['body']['price'] }}</p>
                <button class="remove-btn">Remove</button>
            </div>
        {% endfor %}
    </section>
    <p id="total-price"> Total: </p>
    <button class="remove-btn">Buy</button>

{% endblock %}