{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script src="../static/js/main.js" defer></script>
{% endblock %}

{% block main %}

<form method="post" action="/main">
    <button name="category" class="main-btn" value="desktop" type="submit" id="register-btn">Desktop</button>
    <button name="category" class="main-btn" value="monitors" type="submit" id="login-btn">Monitors</button>
    <button name="category" class="main-btn" value="mouse" type="submit" id="login-btn">Mouse</button>
    <button name="category" class="main-btn" value="keyboard" type="submit" id="login-btn">Keyboard</button>
    <button name="category" class="main-btn" value="notebook" type="submit" id="login-btn">Notebook</button>
    <button name="category" class="main-btn" value="tablet" type="submit" id="login-btn">Tablet</button>
    <button name="category" class="main-btn" value="macbook" type="submit" id="login-btn">Macbook</button>
</form>

{% endblock %}