{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block head %}
    <script src="../static/js/main.js" defer></script>
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div id="flash-main" class="alert alert-primary alert-dismissible fade show" role="alert">
                <span> {{ msg }} </span>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form id="main-form" method="POST" action="/main">

</form>

{% endblock %}