{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block head %}
    <script src="../static/js/products.js" defer></script>
{% endblock %}

{% block main %}

    <div id="flash-product" style="display: none; transition: all 0.5s;" class="alert alert-primary alert-dismissible fade show" role="alert">
        <span> Added to cart! </span>
    </div>

    <section>
        {% for product in products %}
            <div id="{{ product['id'] }}" class="product-card" action="/products" method="post">
                <img class="product-image" src="{{ product['thumbnail'] }}" />
                <h3 class="product-title"> {{ product['title'] }}</h3>
                <p class="product-price"> R$ {{ product['price'] }} </p>
                <button class="product-btn" id="add-btn" type="button">Add</button>
            </div>
        {% endfor %}
    </section>
{% endblock %}