{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}

{% block head %}
    <script src="../static/js/products.js" defer></script>
    <link href="/static/css/products.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <div id="flash-product" style="display: none" class="alert alert-warning position-absolute top text-center" role="alert">
        <span> Added to cart! </span>
    </div>

    <section id="product-section">
        {% for product in products %}
            <div id="{{ product['id'] }}" class="shadow-sm p-3 mb-5 bg-white rounded product-card" action="/products" method="post">
                <img class="product-image" src="{{ product['thumbnail'].replace('I.jpg', 'W-webp') }}" />
                <h3 class="product-title fs-6"> {{ product['title'] }}</h3>
                <p class="product-price fs-5"> R$ {{ product['price'] }} </p>
                <button class="product-btn btn-dark" id="add-btn" type="button">Add</button>
            </div>
        {% endfor %}
    </section>
{% endblock %}