{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input autocomplete="off" id="password" name="password" placeholder="Password" type="text">
        </div>
        <div>
            <input autocomplete="off" id="verify" name="verify" placeholder="Verify" type="text">
        </div>

        <button type="submit">Register</button>
    </form>
{% endblock %}